@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0; /* Color of the scrollbar track */
  border-radius: 4px;
}

/* For Firefox */
/* You may need to add these styles separately for Firefox */
/* Customize them according to your design */
/* Firefox uses a different pseudoelement, scrollbar-thumb */
* {
  scrollbar-color: #4f4f4f #e0e0e0;
  scrollbar-width: thin;
}
